VUE_APP_BASE_URL_LIVE=http://localhost:8080
VUE_APP_PAYSTACK_PUBLIC_KEY_LIVE=pk_test_a1ec9c5990668ed4dc53cce9c36e269dbfc56dc7
VUE_APP_FLUTTERWAVE_PUBLIC_KEY_LIVE=FLWPUBK_TEST-db8cdad0e693862edbce3cd2f31922b7-X
VUE_APP_TONOTE_API_BASE_URL_LIVE=https://tonote-api.herokuapp.com/api/v1


VUE_APP_BASE_URL_DEV=http://localhost:8080
VUE_APP_PAYSTACK_PUBLIC_KEY_DEV=pk_test_a1ec9c5990668ed4dc53cce9c36e269dbfc56dc7
VUE_APP_FLUTTERWAVE_PUBLIC_KEY_DEV=FLWPUBK_TEST-db8cdad0e693862edbce3cd2f31922b7-X
VUE_APP_TONOTE_API_BASE_URL_DEV=https://tonote-api.herokuapp.com/api/v1


VUE_APP_BASE_URL_STAGING=http://localhost:8080
VUE_APP_PAYSTACK_PUBLIC_KEY_STAGING=pk_test_a1ec9c5990668ed4dc53cce9c36e269dbfc56dc7
VUE_APP_FLUTTERWAVE_PUBLIC_KEY_STAGING=FLWPUBK_TEST-db8cdad0e693862edbce3cd2f31922b7-X
VUE_APP_TONOTE_API_BASE_URL_STAGING=https://tonote-api.herokuapp.com/api/v1

VUE_APP_DOCUMENT_PAGE=https://tonote-doc.netlify.app

VUE_APP_DOCUMENT_PAGE_DEV=https://tonote-doc.netlify.app
VUE_APP_DOCUMENT_PAGE_STAGING=https://tonote-doc.netlify.app
VUE_APP_DOCUMENT_PAGE_LIVE=https://tonote-doc.netlify.app

 VUE_APP_TAWK_PROPERTY_ID=6257cf987b967b11798ab0e5
VUE_APP_TAWK_WIDGET_ID=1g0jg5rf5

VUE_APP_ENVIRONMENT=local