@media screen and (max-width: 576px) { 
  .settingsPage .nav-link{
    padding: 0.30rem .70rem !important
    
  }
  .settingsPage .span{
    padding: .25rem .5rem !important;
    margin-bottom: .25rem !important;
  }
  .settingsPage .nav-tabs .nav-item .nav-link {
    margin-right: .25rem !important;
  }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }